@model Northwind.Models.Categories

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Categories</h4>
    <hr />
    <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CategoryId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Picture)
            </dt>
            <dd>
                @*@Html.DisplayFor(model => model.Picture64)*@
                <img id="imgCategory" src="@String.Format("data:image/jpg;base64,{0}", Utilities.Base64String(Model.Picture)))" />
            </dd>
        </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-categoryId="@Model.CategoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
