@model IEnumerable<Northwind.Models.Categories>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img id="imgCategory" src="@String.Format("data:image/jpg;base64,{0}",  Utilities.Base64String(item.Picture)))" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-categoryId="@item.CategoryId">Edit</a> |
                    <a asp-action="Details" asp-route-categoryId="@item.CategoryId">Details</a> |
                    <a asp-action="Delete" asp-route-categoryId="@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if ((int)ViewData["page"] != 0)
{
    <partial name="../Shared/Components/_PaginationControl" />
}