@model IEnumerable<Northwind.Models.Territories>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TerritoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerritoryDescription)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.RegionId)*@
                Region
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TerritoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TerritoryDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Regions.RegionDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-territoryId="@item.TerritoryId">Edit</a> |
                    <a asp-action="Details" asp-route-territoryId="@item.TerritoryId">Details</a> |
                    <a asp-action="Delete" asp-route-territoryId="@item.TerritoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if ((int)ViewData["page"] != 0)
{
    <partial name="../Shared/Components/_PaginationControl" />
}