@model Northwind.Models.Orders

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    float totalValue = @Model.OrderDetails.Sum(s => (s.Quantity * (float.Parse(s.UnitPrice.ToString()) - s.Discount)));
}

<h2>Details</h2>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.EmployeeId)*@
            Employee Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.FirstName)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Customers.ContactName)*@
            Customer Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customers.ContactName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequiredDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequiredDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipperId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shippers.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Freight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Freight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipCity)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.ShipRegion)*@
            Region
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Regions.RegionDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipPostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipPostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipCountry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDetails)
        </dt>
        <dd>

            <table id="orderDetailTable" class="table table-bordered ">
                <thead>
                    <tr>
                        <td align="center">Quantity</td>
                        <td align="center">Product Name</td>
                        <td align="center">Quantity Per Unit</td>
                        <td align="center">Unit Price</td>
                        <td align="center">Discount</td>
                        <td align="center">Total</td>
                    </tr>
                </thead>
                @foreach (OrderDetails item in Model.OrderDetails)
                {
                    <tr>
                        <td align="center">@Html.Raw(@item.Quantity.ToString("###,###"))</td>
                        <td>@item.Products.ProductName</td>
                        <td>@item.Products.QuantityPerUnit</td>
                        <td align="right">@Html.Raw(@item.UnitPrice.ToString("###,###.00"))</td>
                        <td align="right">@Html.Raw(@item.Discount.ToString("###,##0.00"))</td>
                        <td align="right">
                            @Html.Raw((@item.Quantity * (float.Parse(@item.UnitPrice.ToString()) - @item.Discount)).ToString("###,##0.00"))
                        </td>
                    </tr>

                }
            </table>

            @Html.Raw(@totalValue.ToString("###,##0.00"))

        </dd>        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-orderId="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
