@model Northwind.Models.Orders

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/handleDropDown.css" type="text/css" />
<link rel="stylesheet" href="~/css/services.css" type="text/css" />

<h2>Edit</h2>

<h4>Orders</h4>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <div class="row">

            <div class="col-lg-4">
                <div class="form-group">
                    <input type="hidden" asp-for="OrderId" />
                    <label asp-for="OrderId" class="control-label"></label>
                    <div class="form-inline">
                        <input asp-for="OrderId" class="form-control" readonly />
                        <span asp-validation-for="OrderId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    <div class="form-inline">
                        <input asp-for="CustomerId" class="form-control" id="inputCustomerId" placeholder="Customer Id" type="hidden">
                        <input class="form-control" id="inputCustomerDescription" placeholder="Customer Description" value="@Model.Customers.CompanyName" readonly required>
                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                        <button type="button" class="btn btn-info" id="btnCustomer" onclick="showCustomers('@ViewData["Url"]')">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="EmployeeId" class="control-label"></label>
                    <div class="form-inline">
                        <input asp-for="EmployeeId" class="form-control" id="inputEmployeeId" placeholder="Employee Id" type="hidden">
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        <input class="form-control" id="inputEmployeeName" placeholder="Employee Name" value="@Model.Employees.FirstName" readonly required>
                        <button type="button" class="btn btn-info" id="btnEmployee" onclick="showEmployees('@ViewData["Url"]')">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="OrderDate"></label>
                    <div class="form-inline">
                        <input type="date" asp-for="OrderDate" class="form-control" />
                        <span asp-validation-for="OrderDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="RequiredDate"></label>
                    <div class="form-inline">
                        <input type="date" asp-for="RequiredDate" class="form-control" />
                        <span asp-validation-for="RequiredDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="ShippedDate"></label>
                    <div class="form-inline">
                        <input type="date" asp-for="ShippedDate" class="form-control" />
                        <span asp-validation-for="ShippedDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="ShipperId" class="control-label"></label>
                    <div class="form-inline">
                        <select class="form-control" asp-for="ShipperId"
                                asp-items="@((List<SelectListItem>)ViewData["ShipVia"])"></select>
                        <span asp-validation-for="ShipperId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="Freight" class="control-label"></label>
                    <div class="form-inline">
                        <input asp-for="Freight" class="form-control" />
                        <span asp-validation-for="Freight" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="ShipName" class="control-label"></label>
                    <div class="form-inline">
                        <input asp-for="ShipName" class="form-control" />
                        <span asp-validation-for="ShipName" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="ShipAddress" class="control-label"></label>
                    <div class="form-inline">
                        <input asp-for="ShipAddress" class="form-control" />
                        <span asp-validation-for="ShipAddress" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="ShipCity" class="control-label"></label>
                    <div class="form-inline">
                        <input asp-for="ShipCity" class="form-control" />
                        <span asp-validation-for="ShipCity" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="RegionId" class="control-label"></label>
                    <div class="form-inline">
                        <select class="form-control" asp-for="RegionId"
                                asp-items="@((List<SelectListItem>)ViewData["Regions"])"></select>
                        <span asp-validation-for="RegionId" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="ShipPostalCode" class="control-label"></label>
                    <div class="form-inline">
                        <input asp-for="ShipPostalCode" class="form-control" />
                        <span asp-validation-for="ShipPostalCode" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="ShipCountry" class="control-label"></label>
                    <div class="form-inline">
                        <input asp-for="ShipCountry" class="form-control" />
                        <span asp-validation-for="ShipCountry" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <partial name="../Shared/Components/_OrderDetail" />

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="container">

    <partial name="../Shared/Components/_ModalCustomer" />

    <partial name="../Shared/Components/_ModalEmployee" />

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnCustomer").click(function () {
            $("#modalCustomer").modal();
        });
        $("#btnEmployee").click(function () {
            $("#modalEmployee").modal();
        });
    });

</script>


<script src="~/js/services/customerService.js"></script>
<script src="~/js/services/employeeService.js"></script>
<script type="text/javascript" src="~/js/handleDropDown.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
